*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: aliceblue;
  overflow-x: hidden;
}
  
header{
  grid-area: he;
  background-color: #000000;
  height: 0px;
  width: 100%;
}
  
h1 {
  text-align: center;
  color: #000000;
}
  
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0, 0, 0);
  grid-area: na;
  height: 11vh;
}

nav h1 {
  color: #c6c6c6;
  position: absolute;
  left: 13vh;
  top: 4vh;
}

#logo { 
  height: 7vh;
  width: 7vh;
  position: absolute;
  left: 2vh;
  top: 2vh;
}
  
#link_list{
  flex: 1;
  text-align: right;

  background-color: rgb(0, 0, 0);
  height: 400px;
  width: 200px;
  position: absolute;
  top: 10vh;
  right: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  transition: all 0.5s;
  z-index: 1;
}
    
  
#link_list li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
  
#link_list li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;

  letter-spacing: 0.1875rem;
  color: rgb(255, 128, 0);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
  
#link_list li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
  
#link_list li:hover::after{
  width: 100%;
}


#burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(1, 166, 1);
  margin: 5px;
  border-radius: 20%;
  transition: all 0.5s;
}

#burger {
  margin-right: 50px;
  cursor: pointer;
  position: absolute;
  top: 4vh;
  right: 4vh;
}

.link_list_visible {
  transform: translateX(-200px);
  /* background-image: url(/img/colorshift.gif);
  opacity: 0.5; */
  background-size: cover;
}

.burger_in_x_form #burger_line_2 {
  opacity: 0;
}

.burger_in_x_form #burger_line_1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x_form #burger_line_3 {
  transform: rotate(45deg) translate(-5px, -6px);
}




/* Denna koden nedanför är till för gridlayouten på min landing page */

#gridwrapper1 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0px 800px 800px 800px 800px 800px 500px;
  grid-template-areas: 
  "na na"
  "m1 m1"
  "m2 m2"
  /* "m3 m3" */
  "m4 m4"
  "m5 m5"
  "fo fo";

  background-color: #fffcf1;
}

#mainpage_area1 {
  grid-area: m1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-image: url('../img/camera1_unsplash.jpg');
  background-size: cover;
  background-position-y: center;
  background-position: center;

  height: 80vh;
  width: auto;
}

#start_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#text_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#text_buttons_h2 {
  font-size: 40px;
  color: #fff;
  padding: 10px;
}

#text_buttons_p {
  color: #fff;
}

#button_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  border-radius: 3px;
  border: 2px solid white;
  cursor: pointer;
}
.button a:link { 
  text-decoration: none; 
}

#mainpage_area2 {
  grid-area: m2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  margin: 100px;
  padding: 0px;
}

.img_mainpage_area2 {
  width: 50vh;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

#mainpage_area2_img1 {
  background-image: url('../img/mountain3_unsplash.jpg');
}

#mainpage_area2_img2 {
  background-image: url('../img/fjord3_unsplash.jpg');
}

#mainpage_area2_img3 {
  background-image: url('../img/fjord5_unsplash.jpg');
}

#mainpage_area3 {
  grid-area: m3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-image: url('../img/mountain1_unsplash.jpg');
  background-size: cover;
  background-position-y: center;

  height: 600px;
  width: auto;
}

#mainpage_area4 {
  grid-area: m4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-image: url('../img/Vattenfall.jpeg');
  background-size: cover;
  background-position-y: center;

  height: 600px;
  width: auto;
}

.boxed_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.749);
  padding: 10vh;
  height: 5rem;
  width: auto;
}

#mainpage_cardlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: m5;
  background-image: url('../img/mountain1_unsplash.jpg');
  background-size: cover;
}

.mainpage_cardimg {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.mainpage_card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

  height: auto;
  width: 400px;
  padding: 1vh;
  margin: 6vh;
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
  
.container {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






/* Här kommer kod till kontaktsidan */

  
form {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #666;
}
  
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
  
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}
  
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
  
input[type="submit"]:hover {
  background-color: #45a049;
}

#contact_gridwrapper{
  height: 100vh;
  display: grid;

  grid-template-rows: 11vh 80vh 80vh minmax(400px, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 
  "he"
  "ma"
  "a1"
  "fo";
}


#contact_section1 {
  grid-area: ma;
  display: grid;
  justify-content: center;
  align-items: center;
 
  background-image: url('../img/forest2_unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  
  height: 80vh;
  width: 100%;
}

#h1_fixed_position {
  position: relative;
  top: 40%;
}

#h1_contact_section1 {
  font-size: 40px;
  color: white;
}







#contact_section2 {
  grid-area: a1;
  text-align: center;
  display: flex;

  background-image: url('../img/Vattenfall.jpeg');
  background-size: cover;
  background-position-y: center;
  justify-content: center;
  align-items: center;  

  height: 80vh;
  width: auto;
}



/* Här kommer kod kopplad till om mig (about.html) sidan */

#about_gridwrapper{
  /* height: 100vh; */
  display: grid;
  
  grid-template-rows: 11vh 90vh 80vh 80vh minmax(20vh, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 
  "he"
  "ma"
  "a1"
  "a2"
  "fo";
}
   
.boxed {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  flex-direction: column;
  
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.749);
  width: 50%;
  height: 75%;
  margin: 10vh;
}
  
  
#aboutme {
  grid-area: ma;
  display: grid;
  justify-content: center;
  align-items: center;
 
  background-image: url('../img/fjord3_unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
    
  width: 100%;
}
  
#about_section1 {
  grid-area: a1;
  text-align: center;
  display: flex;
  
  background-image: url('../img/mountain3_unsplash.jpg');
  background-size: cover;
  background-position-y: center;
  justify-content: center;
  align-items: center;  
  
  width: auto;
}
  
#about_section2{
  grid-area: a2;
  text-align: center;
  display: flex;
  
  background-image: url('../img/fjord2_unsplash.jpg');  
  background-size: cover;
  background-position-y: center;
  justify-content: center;
  align-items: center; 
  
  width: auto;
}
  
h1{
  font-size: 25px;
}
  
p {
  font-size: 18px;
}
  
footer {
  grid-area: fo;
  height: 25vh;
  background-color: rgb(0, 0, 0); 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-top: 20px;
}
  
.text_footer {
  color: white;
}

/* koden nedan är till knappen som scrollar ner på kontaktsidan */

:after,
:before {
  box-sizing: border-box;
}

.scroll_section {
  height: 100vh;
  width: 100%;
  display: table;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgb(255, 255, 255);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 3px solid rgb(255, 255, 255);
  border-width: 0px 0 2px 2px;
}

/* Denna koden är för att få skrolla ner knappen (på kontaktsidan och om mig-sidan) att hoppa upp och ner */

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/* Här är koden till portfolio sidan */

#portfolio_gridwrapper {
  height: 100vh;
  display: grid;
  
  grid-template-rows: 100px 500px auto minmax(400px, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 
  "he"
  "p1"
  "p2"
  "fo";
}

#gallery_section {
  grid-area: p2;
}


/* Här nedan kommer koden kopplad till slideshowen på portfoliosidan */

.slideshow {
  grid-area: p1;
}

.slideshow-container {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
  
.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
  
.slide1 {
  background-image: url('../img/mountain1_unsplash.jpg');
}
  
.slide2 {
  background-image: url('../img/forest1_unsplash.jpg');
}
  
.slide3 {
  background-image: url('../img/forest2_unsplash.jpg');
}
  
.slide4 {
  background-image: url('../img/fjord3_unsplash.jpg');
}
  
.slide5 {
  background-image: url('../img/Vattenfall.jpeg');
}
  
.slide.active {
  opacity: 1;
}
  
.slideshow-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
  
.slideshow-nav a {
  color: white;
  font-size: 48px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
  
.slideshow-nav a:hover {
  opacity: 1;
}
  
.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  z-index: 1;
}
  

/* Här nedanför kommer koden kopplad till galleriet på portfoliosidan */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 10vh;
}

.card {
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card {
  width: 50vh;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
	.card {
		width: 90%;
	}
}

#card1{
  background-image: url('../img/forest1_unsplash.jpg');
}

#card2{
  background-image: url('../img/forest2_unsplash.jpg');
}

#card3{
  background-image: url('../img/Vattenfall.jpeg');
}

#card4{
  background-image: url('../img/mountain2_unsplash.jpg');
}

#card5{
  background-image: url('../img/mountain3_unsplash.jpg');
}

#card6{
  background-image: url('../img/Fjord1.jpg');
}

#card7{
  background-image: url('../img/mountain1_unsplash.jpg');
}

#card8{
  background-image: url('../img/Norrsken1.jpg');
}

#card9{
  background-image: url('../img/fjord6_unsplash.jpg');
}

/* Jag kommenterade ut denna koden eftersom den är kopplad till galleriswitch knappen som inte fungerar. Mer info finns i dokumentationen. */
/* Button styles */

/* #button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.gallery-button {
	padding: 10px 20px;
	margin: 0 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
} 

.gallery-button:hover {
	background-color: #0056b3;
} */




/* Här kommer all kod för min mobillayout */

@media only screen and (max-width: 800px) {
  
/* Småändringar i gridwrappers för att mobilanpassa sidan */

  #gridwrapper1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 800px 800px 800px 800px 800px 500px;
    grid-template-areas: 
    "na na"
    "m1 m1"
    "m3 m3"
    "m5 m5"
    "m4 m4"
    "fo fo";

    background-color: #fffcf1;
  }

  #mainpage_area2 {
    display: none;
  }

  #mainpage_card_remove {
    display: none;
  }

  #contact_gridwrapper{
    height: 100vh;
    display: grid;
  
    grid-template-rows: 100px 80vh 80vh minmax(400px, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "he"
    "ma"
    "a1"
    "fo";
  }

  #about_gridwrapper{
    /* height: 100vh; */
    display: grid;
    
    grid-template-rows: 100px 90vh 80vh 80vh minmax(20vh, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "he"
    "ma"
    "a1"
    "a2"
    "fo";
  }

  #portfolio_gridwrapper {
    height: 100vh;
    display: grid;
    
    grid-template-rows: 100px 500px auto minmax(400px, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "he"
    "p1"
    "p2"
    "fo";
  }


  /* Ta bort hamburgarmenyn och gör om den till en meny längst upp på skärmen */

  /* header{
    grid-area: he;
    background-color: #000000;
    height: 100px;
    width: 100%;
  }
    
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    grid-area: na;
  } */
    
  #link_list{
    flex: 1;
    text-align: center;
  
    background-color: rgb(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;

   
 
    z-index: 2;
    
    white-space: nowrap;
    transition: transform 0.5s;

  }
  
  #link_list li {
    display: block;
    padding: 15px;
    text-align: center;
  }

  #link_list li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    /* position: relative; */
    bottom: 2vh;
  
    letter-spacing: 0.1875rem;
    color: rgb(255, 128, 0);
    display: block;
  }

  #link_list li::after{
   opacity: 1;
  }
  
  .link_list_visible {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }

  .burger_in_x_form #burger_line_1 {
    transform: rotate(45deg) translate(-2px, 5px);
  }

  .burger_in_x_form #burger_line_2 {
    opacity: 0;
  }

  .burger_in_x_form #burger_line_3 {
    transform: rotate(-45deg) translate(-2px, -5px);
  }

  .button a{
    white-space: nowrap;
  }


  nav h1{
    color: #bebebe;
    position: absolute;
    left: 14vh;
    top: 1.5vh;
  }

  
  #logo { 
    height: 6vh;
    width: 6vh;
    position: absolute;
    left: 3vh;
    top: 1vh;
  }

  
/* Övrigt */

#portfolio_h2 {
  font-size: 8vh;
  white-space: nowrap;
}
  
}
